{% extends "gpio_manager/base.html" %}
{% load filters %}
{% block content %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
    <table class="table table-sm">
    {% for row in rows %}
        {% with left=gpio|pinIndex:row.0 right=gpio|pinIndex:row.1 %}
        <tr>
            <td>
                {% if left.connected %}
                    <small>{{ left.device }} ({{ left.mqtt_alias }})</small>
                {% endif %}
            </td><td>
                <strong>{{ left.func1 }}</strong>
                {% if left.color == "red" %}
                    </td><td rowspan=2 class="table-danger text-center align-middle">
                {% elif left.color == "yellow" %}
                    </td><td rowspan=2 class="table-warning text-center align-middle">
                {% elif left.color == "grey" %}
                    </td><td rowspan=2 class="table-secondary text-center align-middle">
                {% elif left.color == "green" %}
                    </td><td rowspan=2 class="table-success text-center align-middle">
                {% elif left.color == "blue" %}
                    </td><td rowspan=2 class="table-info text-center align-middle">
                {% else  %}
                    </td><td rowspan=2 class="text-center align-middle">
                {% endif %}
                <strong>
                    {%if left.connectable %}
                        <a href="{% url 'gpio_manager-detail' left.id %}">{{ left.pin }}</a>
                    {% else %}
                        {{ left.pin }}
                    {% endif %}
                    </strong>
            {% if right.color == "red" %}
                    </td><td rowspan=2 class="table-danger text-center align-middle">
                {% elif right.color == "yellow" %}
                    </td><td rowspan=2 class="table-warning text-center align-middle">
                {% elif right.color == "grey" %}
                    </td><td rowspan=2 class="table-secondary text-center align-middle">
                {% elif right.color == "green" %}
                    </td><td rowspan=2 class="table-success text-center align-middle">
                {% elif right.color == "blue" %}
                    </td><td rowspan=2 class="table-info text-center align-middle">
                {% else  %}
                    </td><td rowspan=2 class="text-center align-middle">
                {% endif %}
                <strong>
                    {%if right.connectable %}
                        <a href="{% url 'gpio_manager-detail' right.id %}">{{ right.pin }}</a>
                    {% else %}
                        {{ right.pin }}
                    {% endif %}
                </strong>
            </td><td class="text-right">
                <strong>{{ right.func1 }}</strong>
            </td><td class="text-right">
                {% if right.connected %}
                    <small>{{ right.device }} ({{ right.mqtt_alias }})</small>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <small></small>
            </td><td>
                {% if left.func2 %}
                    <small>{{ left.func2 }}</small>
                {% else %}
                    &nbsp;
                {% endif %}
            </td><td class="text-right">
                {% if right.func2 %}
                    <small>{{ right.func2 }}</small>
                {% endif %}
            </td><td class="text-right">
                <small></small>
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </table>
{% endblock %}